@import '../abstracts/variables';
@import '../abstracts/button-mixins';

.hero {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    height: 100vh;
    background-color: $white;
    padding: 1rem;
    gap: 1rem;

    h1 {
        font-size: $font-size-medium;
        font-weight: $font-weight-regular;
        text-align: left;
        color: $black;
        line-height: $line-height-regular;
        margin:0;
    }
    .button-container {
        display: flex;
        gap: .5rem;

        .button-primary {
            @include buttonPrimary;
        }

        .button-secondary {
            @include buttonSecondary; 
        }
    }
} 