@import '../abstracts/variables';


.scroll-down-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.scroll-down {
    font-size: .875rem;
    border-style: solid;
    border-width: 1px;
    border-color: $black;
    cursor: pointer;
    border-radius: 100px;
    padding: 1px 10px;


    z-index: 1000;

    .scroll-down-text {
        font-family: $font-family-sans-serif;
        font-weight: $font-weight-regular;
        letter-spacing: .01rem;
        text-transform: uppercase;
        color: $black;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    
}